# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

last 2 Chrome major versions
last 3 iOS major versions
last 3 Safari major versions
last 2 Firefox major versions
last 2 Edge major versions
not ie_mob <=12
not ie <= 11
>0.2%
not dead
not op_mini all
